.profile {
  width: 300px;
  box-shadow: 0px 0px 13px -1px rgba(66, 68, 90, 0.59);
}
.description {
  width: 100%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats {
  width: 100%;
  display: flex;
  background-color: #f3f6f9;
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
}

.stats li:nth-of-type(2) {
  border-right: 1px rgba(0, 0, 0, 0.2) solid;
  border-left: 1px rgba(0, 0, 0, 0.2) solid;
}
.stats li {
  flex-basis: 33.33%;
  padding: 7% 0;
}

.avatar {
  width: 40%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.tag,
.location,
.label {
  display: block;
  margin: 5% 0 0;
  font-size: 0.4em;
  font-weight: 700;
  color: #798899;
  text-align: center;
}
.name {
  margin: 10% 0 0;
  font-size: 0.6em;
  font-weight: 700;
}

.quantity {
  display: block;
  margin-top: 5%;
  font-size: 0.45em;
  font-weight: 700;
  text-align: center;
}
